<app-navbar></app-navbar>

<section id="center" class="clearfix">
    <div class="center_main clearfix">
        <div class="container">
            <div class="row">
                <div class="center clearfix">
                    <div class="col-sm-7 center_left clearfix">
                        <div class="center_left_inner clearfix">
                            <h1>Welcome To</h1>
                            <h3>Vaishya Samaaj Shadi</h3>
                            <h5>Trust / Relationship / Family</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="center_5" class="clearfix">
    <div class="center_5 clearfix">
        <div class="col-sm-7 center_5_left clearfix">
            <div class="center_5_left_inner clearfix">
                <h2>Welcome to Vaishya Samaj Matrimony</h2>
                <hr class="hr_1">
                <h4>Brief overview</h4>
                <p>Welcome to Vaishy Samaj Shadi, a trusted platform dedicated to facilitating meaningful connections
                    within the Vaishya community. Discover a vibrant community of like-minded individuals seeking
                    companionship, love, and lifelong partnerships. Our tailored matchmaking services are designed to
                    honor Vaishya traditions while embracing modern dating preferences. Join us today to begin your
                    journey towards finding a compatible life partner within the Vaishya Samaj.

                </p>
                <h5><a href="#">Learn More</a></h5>
            </div>
        </div>
        <div class="col-sm-5 center_5_right clearfix">
            <div class="center_5_right_inner clearfix">
                <p><img src="../../../assets/img/Image555x656.jpg" width="100%"></p>
            </div>
        </div>
    </div>
</section>

<section id="center_2" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="center_2 clearfix">
                <div class="center_2_top clearfix">
                    <h2>Where Relationships Blossom</h2>
                    <hr class="hr_1">
                    <p>Experience Love, Trust, and Compatibility</p>
                </div>
                <div class="center_2_middle clearfix">
                    <div class="col-sm-4 center_2_middle_left clearfix">
                        <div class="center_2_middle_left_inner clearfix">
                            <p><i class="fa fa-tree iconborder"></i></p>
                            <h2><a href="#">Our Commitment to Quality Matches</a></h2>
                            <h4><i class="fa fa-chevron-right"></i><strong>Verified Matches</strong>: Rigorous verify
                                process to show real matches.</h4>
                            <h4><i class="fa fa-chevron-right"></i> <strong>Feedback Loop</strong>: Constantly refining
                                our approach based on user feedback for optimal results.</h4>
                        </div>
                    </div>
                    <div class="col-sm-4 center_2_middle_left clearfix">
                        <div class="center_2_middle_left_inner clearfix">
                            <p><i class="fa fa-dedent iconborder"></i></p>
                            <h2><a href="#">Personalized Approach to Finding Love</a></h2>
                            <h4><i class="fa fa-chevron-right"></i> <strong>Tailored Matches</strong>: Receive curated
                                matches based on your unique preferences, values, and relationship goals.</h4>
                            <h4><i class="fa fa-chevron-right"></i><strong> Dedicated Support</strong>: Our team of
                                relationship experts provides personalized guidance and support throughout your dating
                                journey.</h4>

                        </div>
                    </div>
                    <div class="col-sm-4 center_2_middle_left clearfix">
                        <div class="center_2_middle_left_inner clearfix">
                            <p><i class="fa fa-shield iconborder"></i></p>
                            <h2><a href="#">Privacy Commitment By Us</a></h2>
                            <h4><i class="fa fa-chevron-right"></i><strong>Confidentiality</strong>: Your user and
                                profile data is kept strictly confidential.</h4>
                            <h4><i class="fa fa-chevron-right"></i><strong>Security Measures</strong>: We employ
                                industry-standard encryption protocols to ensure the security of your information.</h4>
                            <h4><i class="fa fa-chevron-right"></i> <strong>No Third-Party Sharing</strong>: We do not
                                share any user or profile data with third parties.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="center_3" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="center_3 clearfix">
                <div class="center_3_top clearfix">
                    <h2>Membership Tiers</h2>
                    <hr class="hr_1">
                    <p>Gain effortless access to all registered profiles, <br />save time and money with cost-effective
                        solutions, and receive personalized results based on your preferences for caste, location, and
                        occupation.</p>
                    <h5><a href="#">LEARN MORE</a></h5>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="center_4" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="center_4 clearfix">
                <div class="center_4_top clearfix">
                    <h2 class="texthover">In trust We Believe</h2>
                    <hr class="hr_1">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="center_6" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="center_6 clearfix">
                <div class="center_6_top clearfix">
                    <h2>Matches for you</h2>
                    <hr class="hr_1">
                </div>
                <div class="center_6_middle clearfix">
                    @for (images of TestiMonialImage; track images) {
                    <div class="col-sm-4 center_6_middle_left clearfix">
                        <div class="center_6_middle_left_inner clearfix containerflexo">
                            <p>
                                <img [src]="images.img">
                            </p>
                            <div class="overlay">
                                <div class="text">{{images.name}}</div>
                            </div>
                        </div>
                    </div>
                    }

                </div>
                <div class="center_6_bottom clearfix">
                    <h5><a href="#">VIEW MORE TESTIMONIALS</a></h5>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="center_7" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="center_7_top clearfix">
                <h2>Discover heartwarming tales of love and companionship</h2>
                <hr class="hr_1">
            </div>
            @for (happy of HappyFaces; track happy){
            <div class="col-md-4">
                <div class="card shadowBox" style="width: auto;">
                        <img [src]="happy.images" class="card-img-top" [alt]="happy.Name" style="height: 250px;width: 100%;">
                        <mat-divider></mat-divider>
                        <div class="card-body">
                          <h3 class="card-title text-center" style="margin-top: 12px;">{{happy.Name}}</h3>
                          <p class="card-text shadowBox1" style="font-size: 17px;">{{happy.Content}}</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<section id="center_8" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="center_8 clearfix">
                <div class="center_8_top clearfix">
                    <h2>Tellus sed augue semper</h2>
                    <hr class="hr_1">
                </div>
                <div class="center_8_middle clearfix">
                    <div class="col-sm-4 center_8_middle_left clearfix">
                        <div class="center_8_middle_left_inner clearfix">
                            <h2>We Ante Lacinia</h2>
                            <h6>Noveber 27, 2016</h6>
                            <p>Class aptent taciti sociosqu torquent per conubia nostra, per inceptos C.
                                Curabitursodales!</p>
                            <h5><a href="#">READ MORE</a></h5>
                        </div>
                    </div>
                    <div class="col-sm-4 center_8_middle_center clearfix">
                        <div class="center_8_middle_left_inner clearfix">
                            <h2>Mauris Semper</h2>
                            <h6>November 21, 2016</h6>
                            <p>Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu quis sem at nibh
                                elementum!!</p>
                            <h5><a href="#">READ MORE</a></h5>
                        </div>
                    </div>
                    <div class="col-sm-4 center_8_middle_right clearfix">
                        <div class="center_8_middle_left_inner clearfix">
                            <h2>Vestibulum</h2>
                            <h6>Noveber 25, 2016</h6>
                            <p>Aptent taciti sociosqu ad litora torquent conubia nostra, per inceptos C.
                                Curabitursodales!</p>
                            <h5><a href="#">READ MORE</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>